/* common shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.text-gray{
    color: #534C64;
}

.text-dark{
    color: #3C354F;
}

.text-blue{
    color: #0B0223;
}

.text-white{
    color: #fff;
}

.text-pink{
    color: #F948B2;
}

.text-light-pink{
    color: rgba(255, 255, 255, 0.60);
}

.text-18{
    font-size: 1.125rem;
}

.text-20{
    font-size: 1.25rem;
}

.text-48{
    font-size: 3rem;
}

.text-24{
    font-size: 1.5rem;
}

.text-32{
    font-size: 2rem;
}

.text-95{
    font-size: 5.9rem;
}

.text-45{
    font-size: 2.8rem;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight: 600;
}

.font-weight-700{
    font-weight: 700;
}

.font-weight-800{
    font-weight: 800;
}

.header, .goat-info, .gamer{
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* header styles */
header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav li{
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.follow{
    padding: 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 20px;
    align-items: center;
}

.background-image{
    width: 100%;
    background: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

.goat-info{
    display: flex;
    align-items: center;
}

.goat-text{
    margin: 4px 0 25px;
    width: 50%;
}

.goat-title{
    margin-top: 140px;
}

.icon-1{
    margin-right: 18px;
}

.icon-2{
    margin: 17px 23px 17px 0;
}

.icon-3{
    margin-right: 12px;
    margin-bottom: 40px;
}

.buttons{
    margin-bottom: 140px;
    display: flex;
    gap: 30px;
}

#rouge-btn{
    background-color: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.goat-image{
    width: 50%;
}

.goat-image img{
    width: 100%;
}

/* we are gamer section */
.gamer{
    display: flex;
    gap: 50px;
    margin: 95px auto 120px;
}

.gamer-image{
    width: 60%;
}

.gamer-image img{
    width: 100%;
}

.gamer-info{
    width: 40%;
    text-align: right;
}

.gamer-description{
    line-height: 30px;
    margin: 30px 0;
}

.our-purpose{
    margin: 24px 0 10px;
}

.everyone{
    margin-bottom: 95px;
}


/* responsive styles */
/* mobile responsive */
@media screen and (max-width: 576px){
    header{
        box-shadow: none;
    }

    .header{
        flex-direction: column;
        padding: 75px;
    }

    .logo{
        margin-bottom: 60px;
    }
    
    .follow{
        margin-top: 30px;
    }

    nav ul{
        flex-direction: column;
    }

    /* goat section responsive */
    .background-image{
        background-size: 100% 50%;
    }

    .goat-info{
        flex-direction: column;
        margin: 15px;
        transform: scale(0.8);
    }

    .goat-image{
        width: 100%;
    }

    .goat-title{
        font-size: 35px;
        margin-top: 0px;
    }

    .goat-text{
        width: 80%;
        font-size: 50px;
    }

    /* gamer section responsive */
    .gamer{
        flex-direction: column;
        padding: 15px;
    }
    
    .gamer-image{
        width: 100%;
    }
    
    .gamer-image img{
        width: 100%;
    }
    
    .gamer-info{
        width: 100%;
        text-align: center;
    }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 768px){
    .header{
        flex-direction: column;
        padding: 75px;
    }

    .logo{
        margin-bottom: 60px;
    }
    
    /* goat section responsive */
    .background-image{
        background-size: 100% 50%;
    }

    .goat-info{
        flex-direction: column;
        margin: 15px;
        transform: scale(1);
    }

    .goat-image{
        width: 100%;
    }

    .goat-title{
        font-size: 35px;
    }

    .goat-text{
        width: 80%;
        font-size: 50px;
    }

    /* gamer section responsive */
    .gamer{
        flex-direction: column;
        padding: 30px;
    }
    
    .gamer-image{
        width: 100%;
    }
    
    .gamer-image img{
        width: 100%;
    }
    
    .gamer-info{
        width: 100%;
        text-align: center;
    }
}

/* large device responsive */
@media screen and (min-width: 768px) and (max-width: 992px){
    .header{
        flex-direction: column;
    }

    .logo{
        margin-bottom: 60px;
    }

    /* goat section responsive */
    .background-image{
        background-size: 100% 50%;
    }

    .goat-info{
        flex-direction: column;
        margin: 15px;
        transform: scale(1);
    }

    .goat-image{
        width: 100%;
    }

    .goat-image img{
        padding: 100px;
    }

    .goat-title{
        font-size: 35px;
    }

    .goat-text{
        width: 80%;
        font-size: 50px;
    }
    
    /* gamer section responsive */
    .gamer{
        flex-direction: column;
        padding: 60px;
    }
    
    .gamer-image{
        width: 100%;
    }
    
    .gamer-image img{
        width: 100%;
    }
    
    .gamer-info{
        width: 100%;
        text-align: center;
    }
}

/* extra large device responsive */
@media screen and (min-width: 992px) and (max-width: 1200px){
    .header{
        flex-direction: column;
    }

    .logo{
        margin-bottom: 60px;
    }
 
    /* goat section responsive */
    .background-image{
        background-size: 100% 50%;
    }

    .goat-info{
        flex-direction: column;
        margin: 200px;
        transform: scale(1);
    }

    .goat-image{
        width: 100%;
        transform: scale(1) translateY(30px);
    }

    .goat-title{
        font-size: 35px;
    }

    .goat-text{
        width: 80%;
        font-size: 50px;
    }

    /* gamer section responsive */
    .gamer{
        flex-direction: column;
        padding: 60px;
    }
    
    .gamer-image{
        width: 100%;
    }
    
    .gamer-image img{
        width: 100%;
    }
    
    .gamer-info{
        width: 100%;
        text-align: center;
    }
}

/* extra extra large device responsive*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    /* goat section responsive */
    .background-image{
        background-size: 100% 50%;
    }

    .goat-info{
        flex-direction: column;
        margin: 200px;
        transform: scale(1);
    }

    .goat-image{
        width: 100%;
        transform: scale(1) translateY(30px);
    }

    .goat-title{
        font-size: 35px;
    }

    .goat-text{
        width: 80%;
        font-size: 50px;
    }

    /* gamer section responsive */
    .gamer{
        padding: 60px;
    }
}

/* largest device responsive */
@media screen and (min-width: 1400px){
    .header{
        padding: 35px 0;
    }
}